/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: rgba(29, 91, 143, 0.08);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(87, 96, 106, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 96, 106, 0.4);
}
